@tailwind base;
@tailwind components;
@tailwind utilities;


.SeconsInfrasturcture {
 
    display: none;
}

.FirstInfrastructure:hover .SeconsInfrasturcture{
display: block;
}


/* Mandatory page css */
.tr{
    border: 2;
    border-color: blue;
}